<%- include("partials/header"); -%>
<h1 class="confirmation"> Thank you!</h1>
<div class="About_us_intro">
 <p>
   Thank you for registering a complaint at this portal.
 </p>
 <p>
   For more updates about the complaints you've filed,navigate to <b>View Status page.</b>
   Also, Inorder to check the people who have complaints related to different field, <a href="/grievance">Click Here</a>
 </p>
 </div>
<%- include("partials/footer"); -%>
