<%- include("partials/header"); -%>
    <!-- <div class="card-group"> -->
    <div class="container mt-2">
      <div class="row About_us_intro">


      <div class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block dashboardgrad">
      <img class="img" src="images/roadmain.jpg" alt="roadmaintenance">
          <h5 class="card-title  mt-3 mb-3 cardh5" ><a class="cardtitle" href="/roadmaintenance">Road Maintenance</a></h5>
          <p class="card-text">Visit this page to register complaints related to Road Maintenance.</p>
    </div>
      </div>
      <div class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block dashboardgrad">
      <img class="img" src="images/roadcon.jpg" alt="roadconstruction">
          <h5 class="card-title  mt-3 mb-3 cardh5" ><a class="cardtitle" href="/roadconstruction">Road Construction</a></h5>
          <p class="card-text">Visit this page to register complaints related to Road Construction</p>
      </div>
      </div>
      <div class="col-md-3 col-sm-6 item">
        <div class="card item-card card-block dashboardgrad">
      <img class="img" src="images/bus-karnataka.jpg" alt="roadtransport">
          <h5 class="card-title  mt-3 mb-3 cardh5" ><a class="cardtitle" href="/roadtransport">Road Transport</a></h5>
          <p class="card-text">Visit this page to register complaints related to Road Transport</p>
    </div>
      </div>

      </div>
      </div>
      <%- include("partials/footer"); -%>
      <!-- </div> -->
