<%- include("partials/header"); -%>
<form  action="/status" method="post" class="formarea">


  <div class="form-group">
    <label for="Phonenumber">Phone Number</label>
<input type="text" name="phone" value="" class="form-control" placeholder="Enter your phone number">
</div>
<button type="submit" name="button" value=""class="btn btn-primary">submit</button>
</form>
<!-- <a href="/design">users</a> -->
<%- include("partials/footer"); -%>
