/* :root{
     --darkgray: #212329;
    --brightred: #F94230;
    --lightred:#f9433dcc;
}
* { */
  /* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
} */

.nav-container {
    width: 100%;
    background-color:rgb(217, 231, 243);

}

#navmenu{
    background-color: white;
  }


  .logo-img{
    height: 80px;
    width: 80px;
    margin-left: 10px;
  }
  .nav-item{
    font-family: 'Ubuntu', sans-serif;
  }
  .item-content{
    color: #292b29;
    padding-left: 4px;
    padding-right: 4px;
  }
.Navbar-items{
    padding:20px;
    line-height: 1px;
    font-family: 'Ubuntu', sans-serif;

}

#navbar-logo{
    color: black;
    justify-self: start;
     margin-left: 20px;

}

#navbar-logo{
    cursor: pointer;

}

.nav-menu{
    display: grid;
    /* grid-template-columns: repeat(5, auto); */
     list-style: none;
    text-align: center;
    width: 70%;
    /* justify-self: end; */
 }

.nav-links {
    color:black;
    text-decoration: none;

}

 .nav-links:hover {
    color: darkcyan;
    transition: all 0.2s ease-out;

}

.nav-links-btn {
    background-color:whitesmoke;
    padding: 6px 16px;
    border-radius: 4px;

}


.nav-links-btn:hover {
    background-color:rgb(93, 130, 185);
    color:black;
    padding: 5px 15px;
    border-radius: 4px;
    /* border:solid 1px var(--brightred); */
    transition: all 0.3s ease-out;
}

.header-iconicproject{
    color: #68a1cc;
    text-align: center;
    margin :20px;
    font-family: 'Montserrat', sans-serif;
  }

.About_us_intro{
    padding-left: 80px;
    padding-right: 80px;
}
.card-group{
    padding: 50px;
    margin: 80px;
}

.btn{
    align-items: center;
}

.img-fluid{
    width: 160px;
    height: 160px;
}
.img-fluidreg{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 20px;
  width: 600px;
  height: 1000px;

}
.formarea{
  padding-left: 80px;
  padding-right: 80px;
}
/* loginpage below */
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background:linear-gradient(to left top, #c07fd7, #b880dd, #ae82e3, #a383e9, #9685ee);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn-login {
    min-height: 38px;
    border-radius: 2px;
}
.btn-login {
    font-size: 15px;
    font-weight: bold;
}
/* dashboard page css */
.img{
  height:150px;
  width:100%;
}

.item{
  padding-left:5px;
  padding-right:5px;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;


}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
.confirmation{
  font-family: 'Noto Serif', serif;
  color: #FF3364 ;
  text-align: center;
  margin :20px;
}
.tablehead{

    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;

}
.tablerow{
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(186,189,226,1) 100%);
}
/* .purnesh{
  background: linear-gradient(to right bottom, #f6f9fb, #c8e2f9, #9fcaf9, #7eaff8, #6993f3);
} */
.pruthvi{
  
  background: linear-gradient(to right bottom, #f5f8fc, #c5daff, #9ebaff, #8198fc, #7173f3);
}
.dashboardgrad{

  background: linear-gradient(to left top, #ffffff, #eff5ff, #d2eeff, #aceaff, #85e5ee);
}
.cardtitle{
  color: black;

}
.cardh5{
  text-align: center;
}
/* .formgrad{
  background: linear-gradient(to left top, #c07fd7, #b880dd, #ae82e3, #a383e9, #9685ee);
} */
.loggrad{
  background-image: linear-gradient(to right top, #f9f9f9, #eae7f5, #ddd4f0, #d1c1ea, #c7aee3);
}
